<div class="container egym-container">
    <div class="jumbotron">
        <div class="row">
            <div class="egym-title">
                <h3>Login to eGym <small>or </small><a routerLink="/register">Register for an Account</a></h3>
            </div>
        </div>
        <div class="row">
          <form (ngSubmit)="onSubmit(usernameInput.value,passwordInput.value)">
            <div class="form-group egym-form">
                <div class="row">
                    <label class="egym-labels" for="usernameId">Username: </label>
                    <input ref-usernameInput type="text" class="form-group input" id="usernameId" placeholder="Enter a username" required>
                </div>
                <div class="row">
                    <label class="egym-labels" for="passwordId">Password: </label>
                    <input ref-passwordInput type="password" class="form-group input" id="passwordId" placeholder="Enter a password" required>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
          </form>
        </div>
    </div>
</div>
