<!DOCTYPE html>
<html>
<head>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fitness</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Fitness</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
        </ul>
    </div>
</nav>
    <div class="container">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Difficulty
                <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-left">
                <li><a href="#">Easy</a></li>
                <li><a href="#">Moderate</a></li>
                <li><a href="#">Difficult</a></li>
            </ul>
        </div>
    </div>
<div class="container">
    <div class="col-lg-10 well well-lg">
        <div><h3>Exercise: <small>Dumbell curls</small></h3><h3><small>Lateral bicep strengthening exercise</small></h3><h3>Difficulty: <small class="alert alert-success">Easy</small></h3>
        <h3>Type: <small>Strengthening</small></h3></div>
    </div>
    <div class="col-lg-10 well well-lg">
        <div><h3>Exercise: <small>Squats</small></h3><h3><small>Largest muscle in the body to work out, thigh strengthening exercise</small></h3><h3>Difficulty: <small class="alert alert-success">Easy</small></h3>
            <h3>Type: <small>Strengthening</small></h3></div>
    </div>
    <div class="col-lg-10 well well-lg">
        <div><h3>Exercise: <small>Sprints</small></h3><h3><small>Fast outbreak in running as fast as you can for a given distance (50m, 100, 200m)</small></h3><h3>Difficulty: <small class="alert alert-warning">Moderate</small></h3>
            <h3>Type: <small>Endurance</small></h3></div>
    </div>
    <div class="col-lg-10 well well-lg">
        <div><h3>Exercise: <small>Hang cling dead lift</small></h3><h3><small>Requires experience with the deadlift technique to prevent injury.  Hang cling dead lift is a modified deadlift movement
        that requires the user to lift the bar up and over the head.</small></h3><h3>Difficulty: <small class="alert alert-danger">Difficult</small></h3>
            <h3>Type: <small>Strengthening</small></h3></div>
    </div>
</div>
</body>
</html>